nav{
    height: 60px;
}
.container{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background: greenyellow;
    line-height: 60px;

}

.container a {
    text-decoration: "none";
    color: greenyellow;
}
li:hover{
    animation: changeMe 3s ease-in-out .2s;
}

@keyframes changeMe {
    0% {
        background: rgb(0, 0, 0);

    }
    50% {
        background-color: rgb(253, 251, 251);

    }
    100% {
        background-color: greenyellow;

    }
}