*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: chartreuse;
}
.container{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

}
.item{
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: darkorchid;
    font-size: 60px;
    color: rgb(0, 255, 0);
    text-align: center
}

.item:nth-child(1){
    flex-grow: 2;
    order: 4; 
    background-color:deeppink;
    align-self: flex-end;
  }
  
  .item:nth-child(3){
    order: 3; 
    background-color: rgb(9, 196, 253);
    align-self: flex-end;
  }
}