@import url(https://fonts.googleapis.com/css?family=VT323);


.output {
  font-size: 20em;
  color: #5DFC0A;
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 5em;
  color: white;
  margin: 0;
  font-family: 'VT323';
}




html {
    scroll-behavior: smooth;
  }
  
  
  body {
    margin: 0;
  }
  
  .section {
    height: 100vh;
  }
  
  #home {
    background: #000000;
  }
  
  #about {
    background: #52ff0c;
  }
  
  #contact {
    background: #a200ff;
  }
  
  .nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .nav-item {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--nav-gap);
  }
  
  .nav-link:hover ~ .nav-label {
    opacity: 1;
  }
  
  .nav-label {
    color: #ffffff;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
  }
  
  .nav-link {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
    width: var(--nav-gap);
  }
  
  .nav-link-selected {
    background: #ffffff;
    transform: scale(1.4);
  }
  

  