*{
    padding: 0;
    margin: 50px;
    box-sizing: border-box;
}
.home{
   color: chartreuse;
   font-size: 20px;
   text
}
.info{
    color: chartreuse;
    font-size: 20px;

 }
.index{
    color: chartreuse;
    font-size: 20px;
 }